**~**
/cache/**
!/cache/.htaccess
!/cache/index.htm
/files/**
!/files/.htaccess
!/files/index.htm
/images/avatars/upload/**
!/images/avatars/upload/.htaccess
!/images/avatars/upload/index.htm
/images/avatars/gallery/**
!/images/avatars/gallery/.htaccess
!/images/avatars/gallery/index.htm
/store/**
!/store/.htaccess
!/store/index.htm
/config.php
