**~**
/cache/**
!/cache/.htaccess
!/cache/index.html
/files/**
!/files/.htaccess
!/files/index.html
/images/avatars/upload/**
!/images/avatars/upload/.htaccess
!/images/avatars/upload/index.html
/images/avatars/gallery/**
!/images/avatars/gallery/.htaccess
!/images/avatars/gallery/index.html

/gallery/images/cache/**
!/gallery/images/cache/.htaccess
!/gallery/images/cache/index.html
/gallery/images/import/**
!/gallery/images/import/.htaccess
!/gallery/images/import/index.html
/gallery/images/medium/**
!/gallery/images/medium/.htaccess
!/gallery/images/medium/index.html
/gallery/images/upload/**
!/gallery/images/upload/.htaccess
!/gallery/images/upload/index.html
