**~**
/cache/**
!/cache/.htaccess
!/cache/index.htm
/files/**
!/files/.htaccess
!/files/index.htm
/images/avatars/upload/**
!/images/avatars/upload/.htaccess
!/images/avatars/upload/index.htm
/images/avatars/gallery/**
!/images/avatars/gallery/.htaccess
!/images/avatars/gallery/index.htm
/store/**
!/store/.htaccess
!/store/index.htm
/gallery/images/cache/**
!/gallery/images/cache/.htaccess
!/gallery/images/cache/index.htm
/gallery/images/import/**
!/gallery/images/import/.htaccess
!/gallery/images/import/index.htm
/gallery/images/medium/**
!/gallery/images/medium/.htaccess
!/gallery/images/medium/index.htm
/gallery/images/upload/**
!/gallery/images/upload/.htaccess
!/gallery/images/upload/index.htm
!/gallery/images/upload/image_not_exist.jpg
!/gallery/images/upload/no_hotlinking.jpg
!/gallery/images/upload/not_authorised.jpg
/config.php
