/* Control Panel Styles
---------------------------------------- */


/* Main CP box
----------------------------------------*/
#cp-menu {
	float:left;
	width: 19%;
	margin-top: 1em;
	margin-bottom: 5px;
}

#cp-main {
	float: left;
	width: 81%;
}

#cp-main .content {
	padding: 0;
}

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #a4b3bf;
}

#cp-main .panel p {
	font-size: 1.1em;
}

#cp-main .panel ol {
	margin-left: 2em;
	font-size: 1.1em;
}

#cp-main .panel li.row {
	border-bottom: 1px solid #b5c1cb;
	border-top: 1px solid #f9f9f9;
}

ul.cplist {
	margin-bottom: 5px;
	border-top: 1px solid #b5c1cb;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #000000;
	margin-bottom: 2px;
	text-shadow: none;
}

#cp-main table.table1 {
	margin-bottom: 1em;
}

#cp-main table.table1 thead th {
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #333333;
	padding: 5px;
	text-shadow: none;
}

#cp-main table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

#cp-main .pagination {
	float: right;
	width: auto;
	padding-top: 1px;
}

#cp-main .postbody p {
	font-size: 1.1em;
}

#cp-main .pm-message {
	border: 1px solid #dbdee2;
	margin: 10px 0;
	background-color: #ffffff;
	width: auto;
	float: none;
}

.pm-message h2 {
	padding-bottom: 5px;
}

#cp-main .postbody h3, #cp-main .box2 h3 {
	margin-top: 0;
}

#cp-main .buttons {
	margin-left: 0;
}

#cp-main ul.linklist {
	margin: 0;
}

/* MCP Specific tweaks */
.mcp-main .postbody {
	width: 100%;
}

.tabs-container h2 {
	float: left;
	margin-bottom: 0px;
}

.tabs-container #minitabs {
	float: right;
	margin-top: 19px;
}

.tabs-container::after {
	display: block;
	clear: both;
	content: '';
}

/* CP tabbed menu
----------------------------------------*/
#tabs {
	line-height: normal;
	margin: 20px 0 -1px 7px;
	min-width: 570px;
}

#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

#tabs a {
	float: left;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAABpCAMAAABF/buJAAAAUVBMVEXd7fve7vzg8P3h8f7i8v/b7Pna6vjY6ffW5/XV5vTU5fPT5PLS4/HQ4vDP4fDO4O/O3+7N3u3M3u3L3ezL3evK3Ovh6/Ly+f/////AydW6zNkzglzDAAAA30lEQVR4Ae3Qy2HVQAAEsHkfAgkGbHhr79J/odSQw5yQSlDmvI5FSea5zouSXOt60pJx3h60ZOVOTdbjRk1WKFr3LzVkvPWQ9fa1hoxvPWRs7zVkfPSQsX2vIa+thxzbjxqy/6Qn+/6rhmx7D9mOHvJx/K4h53j9aSHvrx5yjh7+2169etGrVy969epFr14yi8i89r8tZDooyu6gKAo+Q69evejVqxe9etGrVy969epFr1696NWLXr160atXL3r16kWvXjIpyryej9Ay76HneQs9n9kFAAAAAAAAAAAAgH9PW7Ujl05A0wAAAABJRU5ErkJggg==") no-repeat 0% -35px;
	margin: 0 1px 0 0;
	padding: 0 0 0 5px;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}

#tabs a span {
	float: left;
	display: block;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAABpCAMAAADBcsnLAAAASFBMVEW6zNnK3OvL3evL3ezM3u3N3u3O3+7O4O/P4fDQ4vDS4/HT5PLU5fPV5vTW5/XY6ffa6vjb7Pnd7fve7vzg8P3h8f7h6/L///8umdzTAAAAe0lEQVR4AeXFQULEIBBFwQdKnDCJUaC7739T4ecMrlKbAsgWQYR58qCbhWOY2RieGZM5dIG2DPgV+JkuT1wC35I4JXEsNfGWRJXMLoXXsm98ycYmlSKVz6mUg48lO1lOkvi/HTeWYhrQQOGp4kZrbdh9b0NPhupdT0/5Dw5TGs2lj9KUAAAAAElFTkSuQmCC") no-repeat 100% -35px;
	padding: 6px 10px 6px 5px;
	color: #536482;
	white-space: nowrap;
}

#tabs a:hover span {
	color: #bc2a4d;
}

#tabs .activetab a {
	background-position: 0 0;
	border-bottom: 1px solid #cadceb;
}

#tabs .activetab a span {
	background-position: 100% 0;
	padding-bottom: 7px;
	color: #333333;
}

#tabs a:hover {
	background-position: 0 -70px;
}

#tabs a:hover span {
	background-position:100% -70px;
}

#tabs .activetab a:hover {
	background-position: 0 0;
}

#tabs .activetab a:hover span {
	color: #000000;
	background-position: 100% 0;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs {
	line-height: normal;
	margin: -20px 7px 0 0;
	white-space: nowrap;
}

#minitabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#minitabs li {
	display: block;
	float: right;
	padding: 0 10px 4px 10px;
	font-size: 1em;
	font-weight: bold;
	background-color: #e1ebf2;
	margin-left: 2px;
}

#minitabs a {
}

#minitabs a:hover {
	text-decoration: none;
}

#minitabs li.activetab {
	background-color: #f9f9f9;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #333333;
}

/* UCP navigation menu
----------------------------------------*/
/* Container for sub-navigation list */
#navigation {
	width: 100%;
	padding-top: 36px;
}

#navigation ul {
	list-style:none;
}

/* Default list state */
#navigation li {
	margin: 1px 0;
	padding: 0;
	font-weight: bold;
	display: inline;
}

/* Link styles for the sub-section links */
#navigation a {
	display: block;
	padding: 5px;
	margin: 1px 0;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	background: #b2c2cf url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJUAAAAECAIAAAAI+ur+AAAAVElEQVR4Ae2Ruw2AUAzE4tt/HEZgATaiocERCCqEFDf5mLwrYFm3ugeO+u4Dekt/wzc8V7ZWnAvVQHtZKe899oZEt0n6KCAOug5N/ZkhnyUP8/+GHcXiApk1ZFm6AAAAAElFTkSuQmCC") repeat-y 100% 0;
}

#navigation a:hover {
	text-decoration: none;
	background-color: #aabac6;
	color: #bc2a4d;
	background-image: none;
}

#navigation #active-subsection a {
	display: block;
	color: #d31141;
	background-color: #f9f9f9;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #d31141;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	border-bottom: none;
	padding: 0;
	margin-left: 10px;
	color: #333333;
}

#cp-main .panel {
	background-color: #f9f9f9;
}

#cp-main .pm {
	background-color: #ffffff;
}

/* Friends list */
.cp-mini {
	background-color: #eef5f9;
	padding: 10px;
	margin: 10px 15px 10px 5px;
	max-height: 200px;
	overflow-y: auto;
}

body.style-rounded-corners .cp-mini {
	border-radius: 7px;
}

dl.mini dt {
	font-weight: bold;
	color: #425067;
}

dl.mini dd {
	padding-top: 4px;
}

.friend-online {
	font-weight: bold;
}

.friend-offline {
	font-style: italic;
}

/* PM Styles
----------------------------------------*/
#pm-menu {
	line-height: 2.5em;
}

/* PM panel adjustments */
.reply-all {
	font-size: 11px;
	padding-top: 5px;
}

/* PM Message history */
#topicreview a.current {
	color: #000000;
}

/* Defined rules list for PM options */
ol.def-rules {
	padding-left: 0;
}

ol.def-rules li {
	line-height: 180%;
	padding: 1px;
}

/* PM marking colours */
.pmlist li.bg1 {
	padding: 0 3px;
}

.pmlist li.bg2 {
	padding: 0 3px;
}

.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #bc2a4d;
	border-right-color: #bc2a4d;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	padding: 0;
	border: solid 3px #ff6600;
	border-width: 0 3px;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	padding: 0;
	border: solid 3px #a9b8c2;
	border-width: 0 3px;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	padding: 0;
	border: solid 3px #5d8fbd;
	border-width: 0 3px;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	padding: 0;
	border: solid 3px #000000;
	border-width: 0 3px;
}

.pm-legend {
	border-left-width: 10px;
	border-left-style: solid;
	border-right-width: 0;
	margin-bottom: 3px;
	padding-left: 3px;
}

/* Avatar gallery */
#gallery label {
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px;
	width: auto;
	background: #ffffff;
	border: 1px solid #ccc;
	text-align: center;
}

#gallery label:hover {
	background-color: #eee;
}
