/* Link Styles
---------------------------------------- */

a { cursor: pointer; color: #105289; text-decoration: none; }
a:visited { color: #105289; text-decoration: none; }
a:hover { color: #D31141; text-decoration: underline; }
a:active { color: #368AD2; text-decoration: none; }

/* Coloured usernames */
.username-coloured {
	font-weight: bold;
	display: inline !important;
	padding: 0 !important;
}

/* Links on gradient backgrounds */
#search-box a, .navbg a, .forumbg .header a, .forabg .header a, th a {
	color: #FFFFFF;
	text-decoration: none;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
	text-decoration: underline;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #C8E6FF;
	text-decoration: none;
}

/* Links for forum/topic lists */
a.forumtitle {
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #105289;
	text-decoration: none;
}

/* a.forumtitle:visited { color: #105289; } */

a.forumtitle:hover {
	color: #BC2A4D;
	text-decoration: underline;
}

a.forumtitle:active {
	color: #105289;
}

a.topictitle {
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #105289;
	text-decoration: none;
}

/* a.topictitle:visited { color: #368AD2; } */

a.topictitle:hover {
	color: #BC2A4D;
	text-decoration: underline;
}

a.topictitle:active {
	color: #105289;
}

/* Post body links */
.postlink {
	text-decoration: underline !important;
	color: #368AD2;
}

.postlink:visited {
	color: #5D8FBD;
}

.postlink:active {
	color: #368AD2;
}

.postlink:hover {
	background-color: #D0E4F6;
	text-decoration: underline !important;
	color: #0D4473;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	border: none;
	text-decoration: underline;
	background-color: transparent;
}

/* Profile links */
.postprofile a, .postprofile a:visited, .postprofile dt.author a {
	font-weight: bold;
	color: #105289;
	text-decoration: none;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	text-decoration: underline;
	color: #D31141;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */
.postprofile a:active {
	font-weight: bold;
	color: #105289;
	text-decoration: none;
}


/* Profile searchresults */
.search .postprofile a {
	color: #105289;
	text-decoration: none;
	font-weight: normal;
}

.search .postprofile a:hover {
	color: #D31141;
	text-decoration: underline;
}


/* Arrow links */
a.nav-to-up {
	background: url("data:image/gif;base64,R0lGODlhBgAGAIABADMzMwAAACH5BAEAAAEALAAAAAAGAAYAAAIKjG8AqLmhGnyoAAA7") no-repeat left center;
	padding-left: 10px;
}

a.nav-to-up:hover {
	background-position: left top;
}

a.nav-to-down {
	background: url("data:image/gif;base64,R0lGODlhBgAGAIABADMzMwAAACH5BAEAAAEALAAAAAAGAAYAAAIKjA9gmavR0DunAAA7") no-repeat right center;
	padding-right: 10px;
}

a.nav-to-down:hover {
	background-position: right bottom;
}

a.nav-to-left {
	background: url("data:image/gif;base64,R0lGODlhBAAGAIABADMzMwAAACH5BAEAAAEALAAAAAAEAAYAAAIITACGqGnnUAEAOw==") no-repeat left 3px center;
	padding-left: 12px;
}

a.nav-to-left:hover {
	background-position: left center;
}

a.nav-to-right {
	background: url("data:image/gif;base64,R0lGODlhBAAGAIABADMzMwAAACH5BAEAAAEALAAAAAAEAAYAAAIIBBKGqGnnUAEAOw==") no-repeat right 3px center;
	padding-right: 12px;
}

a.nav-to-right:hover {
	background-position: right center;
}

/* invisible skip link, used for accessibility  */
.skiplink {
	position: absolute;
	left: -999px;
	width: 990px;
}

/* Feed icon in forumlist_body.html */
a.feed-icon-forum {
	float: right;
	margin: 3px;
}
