#
# phpBB Theme Configuration File
#
# Valid values for on/off options are: on, off, 1, 0, true, and false.
# Values are trimmed. Values may be enclosed in single or double quotes.
# Quotes do not need to be escaped.
#

# General Information

name = prosilver
version = 1.10.0

# Options

# Has to be enabled to use template variables (e.g. {T_IMAGESET_PATH}) within CSS stylesheet.
parse_css_file = 1
