<IfModule mod_authz_core.c>
	<Files "common.php">
		Require all denied
	</Files>
</IfModule>

<IfModule mod_expires.c>
	<Files "image.php">
		ExpiresActive Off
	</Files>
</IfModule>

# Use X-SendFile to deliver images if supported
<IfModule mod_xsendfile.c>
	<Files "image.php">
		XSendFile On
		SetEnv XSENDFILE on
	</Files>
</IfModule>
