
<!-- BEGIN _file -->
	<!-- IF _file.S_DENIED -->
	<p>[{_file.DENIED_MESSAGE}]</p>
	<!-- ELSE -->

		<!-- IF _file.S_THUMBNAIL -->
		<dl class="thumbnail">
			<dt><a class="splash-image" href="{_file.U_DOWNLOAD_LINK}"><img src="{_file.THUMB_IMAGE}" alt="{_file.DOWNLOAD_NAME}" title="{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}, {_file.L_DOWNLOAD_COUNT})" /></a></dt>
			<!-- IF _file.COMMENT --><dd> {_file.COMMENT}</dd><!-- ENDIF -->
		</dl>
		<!-- ENDIF -->


		<!-- IF _file.S_IMAGE -->
		<dl class="file">
			<dt class="attach-image"><img src="{_file.U_INLINE_LINK}" alt="{_file.DOWNLOAD_NAME}" title="{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}, {_file.L_DOWNLOAD_COUNT})" /></dt>
			<!-- IF _file.COMMENT --><dd><em>{_file.COMMENT}</em></dd><!-- ENDIF -->
			<dd class="hide-in-inline">{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</dd>
		</dl>
		<!-- ENDIF -->

		<!-- IF _file.S_FILE -->
		<dl class="file">
			<dt class="attach-file<!-- IF _file.UPLOAD_ICON -->-with-icon<!-- ENDIF -->"><!-- IF _file.UPLOAD_ICON -->{_file.UPLOAD_ICON}<!-- ENDIF --><a class="postlink" href="{_file.U_DOWNLOAD_LINK}" title="{_file.DOWNLOAD_NAME} ({_file.FILESIZE} {_file.SIZE_LANG}, {_file.L_DOWNLOAD_COUNT})<!-- IF _file.COMMENT --> - {_file.COMMENT}<!-- ENDIF -->">{_file.DOWNLOAD_NAME}</a></dt>
			<!-- IF _file.COMMENT --><dd class="hide-in-inline"><em>{_file.COMMENT}</em></dd><!-- ENDIF -->
			<dd class="hide-in-inline">({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</dd>
		</dl>
		<!-- ENDIF -->


		<!-- IF _file.S_AUDIO_FILE or _file.S_VIDEO_FILE -->
		<dl class="file">
			<dt>
				<!-- IF _file.S_AUDIO_FILE -->
				<audio controls id="attach_audio_{_file.ATTACH_ID}" src="{_file.U_DOWNLOAD_LINK}" type="{_file.MIME}" preload="none"></audio>
				<!-- ELSE -->
				<video controls id="attach_video_{_file.ATTACH_ID}" src="{_file.U_DOWNLOAD_LINK}" type="{_file.MIME}" preload="none"></video>
				<!-- ENDIF -->
			</dt>
			<!-- IF _file.COMMENT --><dd><em>{_file.COMMENT}</em></dd><!-- ENDIF -->
			<dd class="hide-in-inline"><a href="{_file.U_DOWNLOAD_LINK}">{_file.DOWNLOAD_NAME}</a> ({_file.FILESIZE} {_file.SIZE_LANG}) {_file.L_DOWNLOAD_COUNT}</dd>
		</dl>
		<!-- ENDIF -->

	<!-- ENDIF -->
<!-- END _file -->
