<!-- IF S_TYPE == 1 -->
<div class="panel">
	<div class="inner">

	<h3>{L_CONFIRMATION}</h3>

	<fieldset class="fields2">
<!-- ENDIF -->

	<dl>
		<dt><label for="confirm_code">{L_CONFIRM_CODE}:</label><br /><span>{L_CONFIRM_CODE_EXPLAIN}</span></dt>
		<dd><img src="{CAPTCHA_IMAGE_URL}" alt="{L_CONFIRM_CODE}" /></dd>
		<dd><input type="text" autocomplete="off" name="confirm_code" id="confirm_code" size="60" maxlength="10" tabindex="{$CAPTCHA_TAB_INDEX}" class="inputbox autowidth" title="{L_CONFIRM_CODE}" />
		<!-- IF S_CONFIRM_REFRESH --><input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="{L_VC_REFRESH}" title="{L_VC_REFRESH_EXPLAIN}" /><!-- ENDIF -->
		<input type="hidden" name="confirm_id" id="confirm_id" value="{CONFIRM_ID}" /></dd>
	</dl>

<!-- IF S_TYPE == 1 -->
	</fieldset>
	</div>
</div>
<!-- ENDIF -->
