	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner">

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}">{L_INDEX}</a></li>
			<li class="rightside">{S_TIMEZONE}</li>
		</ul>

		</div>
	</div>

	<!-- IF STYLE_COUNTER_HTML_1 or STYLE_COUNTER_HTML_2 or STYLE_COUNTER_HTML_3 or STYLE_COUNTER_HTML_4 or STYLE_COUNTER_HTML_5 -->
	<div class="counters">{STYLE_COUNTER_HTML_1} {STYLE_COUNTER_HTML_2} {STYLE_COUNTER_HTML_3} {STYLE_COUNTER_HTML_4} {STYLE_COUNTER_HTML_5}</div>
	<!-- ENDIF -->

	<div class="copyright">
		<!-- IF COPYRIGHT_NOTICE -->{COPYRIGHT_NOTICE}<!-- ELSE -->{CREDIT_LINE}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	</div>

	<div class="clear"></div>
</div>

<div style="height: 0px; overflow: hidden;">
	<a id="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</div>

</body>
</html>