	</div>

<div id="page-footer">

	<div class="navbar">
		<div class="inner"><span class="corners-top"><span></span></span>

		<ul class="linklist">
			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
			<li class="rightside"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
		</ul>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF STYLE_COUNTER_HTML_1 or STYLE_COUNTER_HTML_2 or STYLE_COUNTER_HTML_3 or STYLE_COUNTER_HTML_4 or STYLE_COUNTER_HTML_5 -->
	<div class="counters right-box">{STYLE_COUNTER_HTML_1} {STYLE_COUNTER_HTML_2} {STYLE_COUNTER_HTML_3} {STYLE_COUNTER_HTML_4} {STYLE_COUNTER_HTML_5}</div>
	<!-- ENDIF -->

	<div class="copyright">
		<!-- IF COPYRIGHT_NOTICE -->{COPYRIGHT_NOTICE}<br /><!-- ENDIF -->
		<!-- Please do not remove the copyright of phpBB and phpBBex! Будьте добры, не удаляйте копирайт и ссылки phpBB и phpBBex! -->
		<!-- IF not COPYRIGHT -->Powered by <a href="http://www.phpbb.com/"<!-- IF EXTERNAL_LINKS_NEWWINDOW --> target="_blank"<!-- ENDIF --><!-- IF EXTERNAL_LINKS_NOFOLLOW --> rel="nofollow"<!-- ENDIF -->>phpBB</a> &copy; 2012 phpBB Group, <a href="http://phpbbex.com/"<!-- IF EXTERNAL_LINKS_NEWWINDOW --> target="_blank"<!-- ENDIF --><!-- IF EXTERNAL_LINKS_NOFOLLOW --> rel="nofollow"<!-- ENDIF -->>phpBBex</a> &copy; 2012 Evgeny Vrublevsky<!-- ELSE -->{COPYRIGHT}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	</div>

	<div class="clear"></div>
</div>

<div style="height: 0px; overflow: hidden;">
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</div>

</body>
</html>