<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="{S_CONTENT_ENCODING}" />
<meta name="keywords" content="{SITE_KEYWORDS}" />
<meta name="description" content="{SITE_DESCRIPTION}" />
{META}
<title><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF --><!-- IF PAGE_TITLE -->{PAGE_TITLE} - <!-- ENDIF --><!-- IF PAGE_NUMBER and ON_PAGE > 1 -->{PAGE_NUMBER} - <!-- ENDIF -->{SITENAME}</title>

<link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />

<!-- IF STYLE_USE_GOOGLE_CDN -->
	<!--[if lt IE 9]>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{T_ROOT_PATH}/assets/js/jquery-ie8.js"><\/script>')</script>
		<script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{T_ROOT_PATH}/assets/js/jquery.js"><\/script>')</script>
	<!--<![endif]-->
<!-- ELSE -->
	<!--[if lt IE 9]>
		<script src="{T_ROOT_PATH}/assets/js/jquery-ie8.js"></script>
		<script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
		<script src="{T_ROOT_PATH}/assets/js/jquery.js"></script>
	<!--<![endif]-->
<!-- ENDIF -->

<script src="{T_SUPER_TEMPLATE_PATH}/jquery.splash.js"></script>
<script src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
<script>
	var lang = {};
	lang.jump_page = '{LA_JUMP_PAGE}';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';
</script>

<!-- DEFINE $POPUP = 1 -->

</head>

<body id="phpbb" class="{S_CONTENT_DIRECTION}">

<div id="simple-wrap">
	<a id="top" name="top" accesskey="t"></a>
	<div id="page-body">