#
# phpBB Template Configuration File
#
# Valid values for on/off options are: on, off, 1, 0, true, and false.
# Values are trimmed. Values may be enclosed in single or double quotes.
# Quotes do not need to be escaped.
#

# General Information

name = prosilver
version = 1.10.0

# Options

# Defining a different template bitfield
bbcode_bitfield = lNmA

# Template inheritance
# See http://blog.phpbb.com/2008/07/31/templating-just-got-easier/
# Set value to empty to ignore template inheritance
inherit_from = prosilver
